.navbar {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    align-items: center;
}

.navbar .balance {
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.navbar .brand {
    display: flex;
    align-items: center;
}

.navbar .name {
    font-size: 20px;
}

.navbar .logo {
    width: 52px;
    height: 52px;
    object-fit: contain;
}